{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="{% static 'dist/images/logo.svg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Your Name">
    <title>{% block title %}My Application{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dist/css/app.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    
    <div class="flex overflow-hidden">
        {% include 'layouts/side_nav.html' %}
        {% include 'layouts/top_bar.html' %}
        <div class="content">
          
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=["your-google-map-api"]&libraries=places"></script>
    <script src="{% static 'dist/js/app.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>
